.station-visible {
    overflow: hidden;
    transition: transform 0.5s ease-out 0.1s;
    transform:scaleY(1);
}

.station-hidden {
    transform:scaleY(0);
    overflow: hidden;
    max-height: 0;
    transition: transform 0.5s ease-out 0.1s;
}

.station hr {
    width: 90%;
    color: dimgrey;
    size: 1px;
}

.station-desc {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    opacity: 0.66;
}

.station-picture {
    border-radius : 50%;
    border: 2px solid white;
}

.volume-button {
    overflow: hidden;
}
