.station:active {
    height: auto;
}

.station {
    height: 0;
}

.station-wrapper hr {
    width: 90%;
    color: dimgrey;
    size: 1px;
}

.station-desc {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    opacity: 0.66;
}

.station-picture {
    border-radius : 50%;
    border: 2px solid white;
    height: 80px;
    width: 80px;
}

.volume-button {
    height: 30px;
    width: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

.station-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}
