.station-visible {
    display: inline;
    /* transition: all 3s ease 2s; */
    height: auto;
    overflow: hidden;
    /* max-height: 500px;
    transition: max-height 0.25s ease-in; */
}

.station-hidden {
    display: none;
    height: 0;
    /* transition: all 3s ease 2s; */
    overflow: hidden;
    max-height: 0;
    transition: all 0.15s ease-out;
}

.station-hidden:active {
    display: none;
    height: auto;
    /* transition: all 3s ease 2s; */
    overflow: hidden;
    max-height: 100px;
    transition: all 0.15s ease-out;
}

.station hr {
    width: 90%;
    color: dimgrey;
    size: 1px;
}

.station-desc {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    opacity: 0.66;
}

.station-picture {
    border-radius : 50%;
    border: 2px solid white;
}

.volume-button {
    overflow: hidden;
}
